.main {
    height: fit-content;
    min-height: 1000px;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 0 80px 0;

    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.466);
    }
}

.botoesTopMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    gap: 50px;
}

.botaoTop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 210px;
    padding: 0 13px 0 12px;
    box-shadow: 0 0 6px 0px rgba(64, 63, 65, 0.281);
    background-color: rgba(236, 236, 236, 0.267);
    border-radius: 40px;
    cursor: pointer;

    span {
        font-size: 15px;
        font-weight: bold;
        background: linear-gradient(to left, rgb(12, 81, 99), rgb(85, 130, 182));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.botaoTop:hover {
    box-shadow: 0 0 16px 0px rgba(59, 127, 230, 0.329);
}

.resultText {
    color: rgba(0, 0, 0, 0.281);
}

.contentMain {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
}

.contentBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 100px;
    gap: 30px;
    text-align: center;
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    gap: 7px;

    img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
        border: 1px solid rgba(146, 146, 146, 0.342);
        border-radius: 40px;
    }

    h1 {
        color: rgba(128, 128, 128, 0.623);
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }
}

