.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 100px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  padding: 0 30px 0 30px;

  img {
    height: 50px;
    width: auto;
  }
}

.text {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.icones {
  display: flex;
  gap: 10px;
}

.iconeStyle {
  img {
    height: 30px;
    width: auto;
  }
}

@media (max-width: 650px) {
  .main {
    flex-direction: column;
    height: 200px;
    padding: 20px 0 20px 0;
  }

  .text {
    position: static;
  transform: translate(0);
  }
}