/* [project]/src/app/functioning/functioning.module.css [app-client] (css) */
.functioning-module__EK0Zcq__functioning_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20vh;
  flex-direction: column;
}

.functioning-module__EK0Zcq__functioning_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  min-height: 55vh;
}

.functioning-module__EK0Zcq__functioning_content_box {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #000;
  height: 100%;
  width: 65%;
  color: #fff;
  padding: 4%;
  border-radius: 50px;
}

.functioning-module__EK0Zcq__functioning_content_title {
  display: flex;
  font-weight: bolder;
  font-size: 35px;
  color: #fff;
  line-height: 4vw;
  width: 60%;
}

.functioning-module__EK0Zcq__functioning_content_text {
  display: flex;
  color: #fff;
  font-size: 1.1rem;
  flex-direction: column;
}

.functioning-module__EK0Zcq__functioning_content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 6vh;
  font-weight: bold;
  background-color: #0096d1;
  transition: background-color .3s, color .3s, transform .3s;
  margin-top: 3vh;
  border-radius: 20px;
  font-size: 15px;
}

.functioning-module__EK0Zcq__functioning_content_button:hover {
  background-color: #00adf2;
  color: #fff;
  transform: scale(1);
}

.functioning-module__EK0Zcq__functioning_apresention_main {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 5vh;
}

.functioning-module__EK0Zcq__functioning_apresention_content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.functioning-module__EK0Zcq__functioning_apresention_texts {
  font-weight: bolder;
  font-size: 37px;
  margin: 0;
  padding: 0 46% 30px 140px;
}

.functioning-module__EK0Zcq__functiong_service_columns_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  gap: 40px;
}

.functioning-module__EK0Zcq__functiong_service_vertical {
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 20px;
}

.functioning-module__EK0Zcq__functiong_service_colune1, .functioning-module__EK0Zcq__functiong_service_colune2, .functioning-module__EK0Zcq__functiong_service_colune3, .functioning-module__EK0Zcq__functiong_service_colune4, .functioning-module__EK0Zcq__functiong_service_colune5 {
  color: #000;
  padding: 30px;
  border-radius: 20px;
}

.functioning-module__EK0Zcq__functiong_service_title {
  padding: 40px 0 6px;
  font-weight: bold;
  font-size: 20px;
}

.functioning-module__EK0Zcq__functiong_service_text {
  font-size: 1rem;
  color: #000;
}

@media (width <= 600px) {
  .functioning-module__EK0Zcq__functioning_main {
    margin-bottom: 9vh;
    padding: 0 2vw;
  }

  .functioning-module__EK0Zcq__functioning_content {
    width: 100%;
    min-height: 50vh;
  }

  .functioning-module__EK0Zcq__functioning_content_box {
    width: 80%;
    min-height: 360px;
    height: auto;
    border-radius: 24px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .functioning-module__EK0Zcq__functioning_content_title {
    width: 100%;
    line-height: 1.5rem;
    font-size: 25px;
    padding-bottom: 19px;
  }

  .functioning-module__EK0Zcq__functioning_content_text {
    font-size: 14px;
  }

  .functioning-module__EK0Zcq__functioning_content_button {
    width: 63%;
    font-size: 13px;
    height: 42px;
  }

  .functioning-module__EK0Zcq__functioning_apresention_main {
    margin-top: 5vh;
  }

  .functioning-module__EK0Zcq__functioning_apresention_content {
    width: 80%;
    padding: 0;
  }

  .functioning-module__EK0Zcq__functioning_apresention_texts {
    font-size: 20px;
    padding: 0 0 20px;
  }

  .functioning-module__EK0Zcq__functiong_service_columns_container {
    flex-direction: column;
    padding: 0;
    gap: 16px;
  }

  .functioning-module__EK0Zcq__functiong_service_vertical {
    width: 100%;
    gap: 10px;
  }

  .functioning-module__EK0Zcq__functiong_service_colune1, .functioning-module__EK0Zcq__functiong_service_colune2, .functioning-module__EK0Zcq__functiong_service_colune3, .functioning-module__EK0Zcq__functiong_service_colune4, .functioning-module__EK0Zcq__functiong_service_colune5 {
    padding: 12px;
    border-radius: 12px;
    font-size: 12px;
  }

  .functioning-module__EK0Zcq__functiong_service_title {
    font-size: 16px;
    padding: 20px 0 4px;
  }

  .functioning-module__EK0Zcq__functiong_service_text {
    font-size: .85rem;
  }
}


/* [project]/src/app/components/header/header.module.css [app-client] (css) */
.header-module__MIcRHW__main {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e1e1e1;
}

.header-module__MIcRHW__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93vw;
  height: 100%;
  gap: 100px;
  margin: auto;
}

.header-module__MIcRHW__logo {
  height: fit-content;
}

.header-module__MIcRHW__navbar {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  gap: 35px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.header-module__MIcRHW__navbar a {
  cursor: pointer;
  background-color: #0000;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: .2s ease-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.header-module__MIcRHW__navbar a:hover {
  color: #fff;
  background-color: #0096d1;
}

.header-module__MIcRHW__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 72px;
}

.header-module__MIcRHW__item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 142px;
}

.header-module__MIcRHW__item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 149px;
}

.header-module__MIcRHW__login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-module__MIcRHW__login_button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid #a7a7a7;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.header-module__MIcRHW__login_button img {
  position: relative;
  left: 6%;
}

.header-module__MIcRHW__user_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-module__MIcRHW__login_icon_fill {
  display: flex !important;
  position: relative !important;
  left: 0% !important;
  justify-content: center !important;
  align-items: center !important;
}

.header-module__MIcRHW__accordion {
  display: none;
  position: absolute;
  right: 20px;
  height: 45px;
  width: 45px;
  max-width: 600px;
  font-family: Arial, sans-serif;
}

.header-module__MIcRHW__accordion_item {
  width: 100%;
  height: 100%;
}

.header-module__MIcRHW__accordion_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2px;
  gap: 6px;
}

.header-module__MIcRHW__stripe1 {
  height: 4px;
  width: 35px;
  background-color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-module__MIcRHW__accordion_button.header-module__MIcRHW__active .header-module__MIcRHW__stripe1:first-child {
  transform: translateY(10px)rotate(45deg);
  -webkit-transform: translateY(10px)rotate(45deg);
  -moz-transform: translateY(10px)rotate(45deg);
  -ms-transform: translateY(10px)rotate(45deg);
  -o-transform: translateY(10px)rotate(45deg);
}

.header-module__MIcRHW__accordion_button.header-module__MIcRHW__active .header-module__MIcRHW__stripe1:nth-child(2) {
  opacity: 0;
}

.header-module__MIcRHW__accordion_button.header-module__MIcRHW__active .header-module__MIcRHW__stripe1:nth-child(3) {
  transform: translateY(-10px)rotate(-45deg);
  -webkit-transform: translateY(-10px)rotate(-45deg);
  -moz-transform: translateY(-10px)rotate(-45deg);
  -ms-transform: translateY(-10px)rotate(-45deg);
  -o-transform: translateY(-10px)rotate(-45deg);
}

.header-module__MIcRHW__accordion_button .header-module__MIcRHW__stripe1 {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s ease;
}

.header-module__MIcRHW__accordion_content {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  background: #fff;
  box-shadow: 0 2px 5px #0000001a;
  border-radius: 5px;
  transition: max-height .3s;
  z-index: 100;
}

.header-module__MIcRHW__link_accordion {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.header-module__MIcRHW__link_accordion:hover {
  background-color: #f5f5f5;
}

@media (width <= 750px) {
  .header-module__MIcRHW__navbar {
    gap: 10px;
    left: 50%;
    transform: translateX(-45%);
    -webkit-transform: translateX(-45%);
    -moz-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    -o-transform: translateX(-45%);
  }

  .header-module__MIcRHW__accordion {
    display: flex;
  }

  .header-module__MIcRHW__login_box {
    display: none;
  }
}

@media (width <= 600px) {
  .header-module__MIcRHW__navbar {
    display: none;
  }
}


/* [project]/src/app/components/footer/footer.module.css [app-client] (css) */
.footer-module__1jeW9a__footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1% 16%;
  box-shadow: 0 -.1px #000;
}

.footer-module__1jeW9a__footer_text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-module__1jeW9a__footer_social_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}


/*# sourceMappingURL=src_app_98c300._.css.map*/
