/* [project]/src/app/gig_page/gig_page.module.css [app-client] (css) */
.gig_page-module__no9cna__page_wrapper {
  width: 100%;
  min-height: 100vh;
}

.gig_page-module__no9cna__page {
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  position: relative;
}

.gig_page-module__no9cna__main {
  width: 57%;
  height: fit-content;
  min-height: 300px;
  margin-right: 10%;
  display: block;
}

.gig_page-module__no9cna__main_history {
  margin-bottom: 20px;
}

.gig_page-module__no9cna__house_fix {
  padding-bottom: 5px;
}

.gig_page-module__no9cna__history_text {
  flex-direction: row;
  align-items: center;
  gap: 11px;
  font-size: 1rem;
  display: flex;
}

.gig_page-module__no9cna__slash_custom {
  color: #00000071;
  font-size: 1.7rem;
}

.gig_page-module__no9cna__main_title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.gig_page-module__no9cna__main_user_info {
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  display: flex;
}

.gig_page-module__no9cna__user_rating {
  gap: 10px;
  display: flex;
}

.gig_page-module__no9cna__rating_stars {
  gap: 5px;
  font-size: 1.1rem;
  display: flex;
}

.gig_page-module__no9cna__text_fix {
  position: relative;
  top: 1px;
}

.gig_page-module__no9cna__rating_trans_fix {
  color: #00000070;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: underline;
}

.gig_page-module__no9cna__separation {
  background-color: #d2d2d2;
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
}

.gig_page-module__no9cna__main_product_picture {
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  background-color: #bdbdbd;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  display: flex;
}

.gig_page-module__no9cna__what_people_like {
  color: #565656;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.gig_page-module__no9cna__wpl_review_box {
  border: 1px solid #b8b8b8;
  gap: 20px;
  width: 100%;
  min-height: 140px;
  max-height: 200px;
  margin-bottom: 50px;
  padding: 20px 30px;
  display: flex;
}

.gig_page-module__no9cna__right_wpl_content {
  flex-direction: column;
  gap: 5px;
  display: flex;
}

.gig_page-module__no9cna__wpl_upper_content {
  gap: 10px;
  display: flex;
}

.gig_page-module__no9cna__wpl_uc_name {
  font-size: .9rem;
}

.gig_page-module__no9cna__wpl_uc_country {
  color: #0009;
  gap: 10px;
  font-size: .8rem;
  display: flex;
}

.gig_page-module__no9cna__wpl_country_text_fix {
  position: relative;
  bottom: -1px;
}

.gig_page-module__no9cna__flag_round {
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  bottom: 3px;
}

.gig_page-module__no9cna__wpl_uc_separation {
  background-color: #00000028;
  width: 1px;
  height: 1.1rem;
}

.gig_page-module__no9cna__wpl_rating_stars {
  gap: 5px;
  font-size: 1.1rem;
  display: flex;
  position: relative;
  bottom: 5px;
}

.gig_page-module__no9cna__wpl_middle_content {
  width: 100%;
}

.gig_page-module__no9cna__underline_seemore {
  cursor: pointer;
  text-decoration: underline;
}

.gig_page-module__no9cna__wpl_lc_text {
  color: #939393;
}

.gig_page-module__no9cna__product_description {
  width: 100%;
  height: fit-content;
}

.gig_page-module__no9cna__pd_topic {
  width: 100%;
  min-height: 50px;
  margin-bottom: 15px;
  padding: 0 20px;
}

.gig_page-module__no9cna__pd_title {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.gig_page-module__no9cna__pd_subtopic {
  margin-bottom: 10px;
}

.gig_page-module__no9cna__pd_subtitle {
  color: #00000080;
  font-size: 1.2rem;
  font-weight: bold;
}

.gig_page-module__no9cna__pd_text {
  color: #000000b7;
  padding: 5px 0 0 15px;
}

.gig_page-module__no9cna__sidebar_outer_wrapper {
  background-color: #f2f2f2;
  width: 35%;
  height: fit-content;
  padding: 30px 0 40px;
  box-shadow: 0 0 5px .1px #bfbfbf;
}

.gig_page-module__no9cna__sidebar_inner_wrapper, .gig_page-module__no9cna__sidebar_content {
  width: 100%;
  height: 100%;
}

.gig_page-module__no9cna__sidebar_box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  display: flex;
}

.gig_page-module__no9cna__sidebar_description {
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: fit-content;
  display: flex;
}

.gig_page-module__no9cna__description_price {
  font-size: 1.6rem;
}

.gig_page-module__no9cna__description_bullets ul {
  padding-left: 18px;
  list-style: circle !important;
}

.gig_page-module__no9cna__sidebar_contact {
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #000;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  width: 80%;
  height: 65px;
  display: block;
}

.gig_page-module__no9cna__sidebar_button {
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  font-size: 1.05rem;
  display: flex;
}

/*# sourceMappingURL=src_app_gig_page_gig_page_module_css_f9ee138c._.single.css.map*/