/* [project]/src/app/functioning/functioning.module.css [app-client] (css) */
.functioning-module__EK0Zcq__functioning_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20vh;
  flex-direction: column;
}

.functioning-module__EK0Zcq__functioning_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  min-height: 55vh;
}

.functioning-module__EK0Zcq__functioning_content_box {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #000;
  height: 100%;
  width: 65%;
  color: #fff;
  padding: 4%;
  border-radius: 50px;
}

.functioning-module__EK0Zcq__functioning_content_title {
  display: flex;
  font-weight: bolder;
  font-size: 35px;
  color: #fff;
  line-height: 4vw;
  width: 60%;
}

.functioning-module__EK0Zcq__functioning_content_text {
  display: flex;
  color: #fff;
  font-size: 1.1rem;
  flex-direction: column;
}

.functioning-module__EK0Zcq__functioning_content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 6vh;
  font-weight: bold;
  background-color: #0096d1;
  transition: background-color .3s, color .3s, transform .3s;
  margin-top: 3vh;
  border-radius: 20px;
  font-size: 15px;
}

.functioning-module__EK0Zcq__functioning_content_button:hover {
  background-color: #00adf2;
  color: #fff;
  transform: scale(1);
}

.functioning-module__EK0Zcq__functioning_apresention_main {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 5vh;
}

.functioning-module__EK0Zcq__functioning_apresention_content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.functioning-module__EK0Zcq__functioning_apresention_texts {
  font-weight: bolder;
  font-size: 37px;
  margin: 0;
  padding: 0 46% 30px 140px;
}

.functioning-module__EK0Zcq__functiong_service_columns_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  gap: 40px;
}

.functioning-module__EK0Zcq__functiong_service_vertical {
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 20px;
}

.functioning-module__EK0Zcq__functiong_service_colune1, .functioning-module__EK0Zcq__functiong_service_colune2, .functioning-module__EK0Zcq__functiong_service_colune3, .functioning-module__EK0Zcq__functiong_service_colune4, .functioning-module__EK0Zcq__functiong_service_colune5 {
  color: #000;
  padding: 30px;
  border-radius: 20px;
}

.functioning-module__EK0Zcq__functiong_service_title {
  padding: 40px 0 6px;
  font-weight: bold;
  font-size: 20px;
}

.functioning-module__EK0Zcq__functiong_service_text {
  font-size: 1rem;
  color: #000;
}

@media (width <= 768px) {
  .functioning-module__EK0Zcq__functiong_service_columns_container {
    flex-direction: column;
  }

  .functioning-module__EK0Zcq__functiong_service_vertical {
    width: 100%;
  }
}


/* [project]/src/app/components/footer/footer.module.css [app-client] (css) */
.footer-module__1jeW9a__footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1% 16%;
  box-shadow: 0 -.1px #000;
}

.footer-module__1jeW9a__footer_text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-module__1jeW9a__footer_social_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}


/*# sourceMappingURL=src_app_0b382a._.css.map*/
