/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/footer/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer_main__1DzMJ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 1% 16% 1% 16%;
    box-shadow: 0px -0.1px 0px black;
}

.footer_footer_text__EIX3s {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer_footer_social_container__hLiip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/header/header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

.header_header_main__e_WX5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 100%;
    padding: 5px 13vw 5px 13vw;
    box-shadow: 0px 0.1px 0px black;
}

.header_logo__uBoM0{
    display: flex;
}
.header_header_list_container__x25oZ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}

.header_header_list__Jd1jw {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: auto;
    font-weight: bold;
}

.header_header_list_button__hFi1R {
    background-color: white;
    color: black;
    padding: 7px 12px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.header_header_list_button__hFi1R:hover {
    background-color: #0096D1;
    color: white;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}

.header_header_login__zLf0b {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
}

.header_header_login_button___UvwV {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096D1;
    color: white;
    padding: 10px 20px;
    margin-right: 8%;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.header_header_login_button___UvwV:hover {
    background-color: #00709c;
}

.header_header_signup_button__OkegH {
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid rgb(233, 233, 233);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-wrap: nowrap;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.header_header_signup_button__OkegH:hover {
    background-color: rgb(233, 233, 233);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/hub/hub.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.hub_hub_main__m4NxI {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hub_hub_content__8JNEs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  min-height: 55vh;
}

.hub_hub_hero__bK7ZR {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  padding: 0px 8% 0 8%;
}

.hub_hub_hero_text__fiMJq {
  display: flex;
  font-weight: bolder;
  font-size: 300%;
  text-align: center;
  flex-direction: column;
  padding: 15px 0px 0px 0px;
}

.hub_hub_hero_searchbar__RCphQ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1%;
  height: 12%;
  width: 60%;
  border: 1px solid black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hub_hub_hero_textinput__ihWL6 {
  width: 90%;
  height: 100%;
  outline: none;
  background: none;
}

.hub_hero_text_hub__SHNHs {
  font-size: 15px;
}

.hub_about_main__KSOen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-bottom: 20vh;
}

.hub_about_box__8QlMi {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 65%;
  color: white;
  padding: 4%;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

.hub_about_box_title__ciQLu {
  font-weight: bolder;
  font-size: 60px;
  line-height: 4vw;
  width: 60%;
}

.hub_about_text__XZa_d {
  font-size: 18px;
  margin-top: 1.8vh;
}

.hub_button_style__rCQli {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 6vh;
  background-color: #0096d1;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  margin-top: 3vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hub_button_style__rCQli:hover {
  background-color: #00adf2;
  color: white;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.hub_box_home_main__tcRzq {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  margin-bottom: 15vh;
}

.hub_box_home_container__ozb43 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
}

.hub_box_home_1____kHV {
  background-color: black;
  background-image: url(/_next/static/media/web_design.a933fcdc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hub_box_home_2__Uc_jk {
  background-color: black;
  background-image: url(/_next/static/media/graphic_design.532cb762.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hub_box_home_3__AXOE6 {
  background-color: black;
  background-image: url(/_next/static/media/branding_design.319d6709.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hub_box_home_4__kDCUQ {
  background-color: black;
  background-image: url(/_next/static/media/digital_art.4c9bcfc3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.hub_box1_content_overtitle__lImkZ {
  font-size: 90%;
}

.hub_box1_content_title__3s06l {
  font-size: 110%;
  font-weight: bold;
}

.hub_box2_home_main__JFrrz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  margin-bottom: 15vh;
}

.hub_box2_home_container__nHfj3 {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 70%;
}

.hub_box_2__kPKBL {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  padding: 50px 30px 30px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 768px) {
  .hub_box_2__kPKBL {
    width: 80%;
    padding: 30px 20px 20px 20px;
  }
}

@media (max-width: 480px) {
  .hub_box_2__kPKBL {
    width: 100%;
    padding: 20px 10px 10px 10px;
  }
}

.hub_box2_content_icon__QYUkl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  max-width: 40px; /* Adjust the max-width as needed */
  margin: 5 auto; /* Center the icon horizontally */
}

.hub_box2_content_text__GQ9j9 {
  margin-top: 30px;
  font-size: 20px;
}

.hub_carousel_design_main__ivAx_ {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110vh;
  width: 100%;
}

.hub_carousel_design_container__YaOD2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
}

.hub_carousel_title__313QZ {
  width: 100%;
  font-size: 45px;
  font-weight: bolder;
}

.hub_carousel_topicos__STEs9 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.hub_carousel_topicos_botao__b_ABr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 15px 30px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}

.hub_carousel_topicos_botao__b_ABr:hover {
  border: 1px solid transparent;
  color: white;
  background-color: #0096d1;
}

.hub_carousel_carousel_container__SfhEh {
  display: flex;
  width: 110%;
  flex-direction: column;
  height: 60%;
  margin-bottom: 5vh;
}

.hub_carousel_carousel__g_1VA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.hub_carousel_carousel_botao1__QcU23 {
  background-color: black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hub_carousel_carousel_botao1__QcU23:hover {
  cursor: pointer;
}

.hub_cor_botao__zU6et {
  fill: white;
}

.hub_carousel_carousel_title__XFRcO {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 5vh;
}

.hub_carousel_carousel_boxes__8B1c1 {
  display: flex;
  gap: 2%;
  align-items: center;
  height: 60%;
  width: 90%;
}

.hub_carousel_carousel_box1__Awev8 {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-image: url(/_next/static/media/design_site.7a019a0b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hub_carousel_carousel_box2__XbaGl {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(/_next/static/media/design_grafico.9a6d8707.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hub_carousel_carousel_box3__DUNXj {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(/_next/static/media/design_logo.bfca0e18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hub_carousel_carousel_box4__vdG6p {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(/_next/static/media/arte_digital.80f76732.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hub_text_boxes__yx22p {
  display: flex;
  justify-content: center;
  padding: 120% 0px 0px 0px;
  font-weight: bold;
  font-size: 15px;
}
.hub_text_boxes__yx22p:hover {
  color: #0096d1;
}

