.functioning_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 20vh;
}

.functioning_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    min-height: 55vh;   
}

.functioning_content_box{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 65%;
    color: white;
    padding: 4%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.functioning_content_title_box{
    font-weight: bolder;
    font-size: 30px;
    line-height: 4vw;
    width: 60%;
}
.functioning_content_text{
    display: flex;
    color: white;
    font-size: 1rem;
}
.functioning_content_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 6vh;
    font-weight: bold;

    background-color: #0096D1;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 3vh;
    border-radius: 20px;
    font-size: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.functioning_content_button:hover {
    background-color: #00adf2;
    color: white;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
.functioning_apresention_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 0% 0% 290% 16%;
    margin-bottom: 20vh;
}
.functioning_apresention_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    min-height: 55vh;   
}
.functioning_apresention_texts{
    font-weight: bolder;
    font-size: 30px;
    line-height: 4vw;
    width: 60%;
}



