.hub_main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hub_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  min-height: 55vh;
}

.hub_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  padding: 0px 8% 0 8%;
}

.hub_hero_text {
  display: flex;
  font-weight: bolder;
  font-size: 300%;
  text-align: center;
  flex-direction: column;
  padding: 15px 0px 0px 0px;
}

.hub_hero_searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1%;
  height: 12%;
  width: 60%;
  border: 1px solid black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hub_hero_textinput {
  width: 90%;
  height: 100%;
  outline: none;
  background: none;
}

.hero_text_hub {
  font-size: 15px;
}

.about_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-bottom: 20vh;
}

.about_box {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 65%;
  color: white;
  padding: 4%;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

.about_box_title {
  font-weight: bolder;
  font-size: 60px;
  line-height: 4vw;
  width: 60%;
}

.about_text {
  font-size: 18px;
  margin-top: 1.8vh;
}

.button_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 6vh;
  background-color: #0096d1;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  margin-top: 3vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button_style:hover {
  background-color: #00adf2;
  color: white;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.box_home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  margin-bottom: 15vh;
}

.box_home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
}

.box_home_1 {
  background-color: black;
  background-image: url("./../../../images/fotos/web_design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.box_home_2 {
  background-color: black;
  background-image: url("./../../../images/fotos/graphic_design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.box_home_3 {
  background-color: black;
  background-image: url("./../../../images/fotos/branding_design.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.box_home_4 {
  background-color: black;
  background-image: url("./../../../images/fotos/digital_art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 100px 30px rgba(134, 134, 134, 0.514);
  color: white;
  height: 100%;
  min-width: 13vw;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.box1_content_overtitle {
  font-size: 90%;
}

.box1_content_title {
  font-size: 110%;
  font-weight: bold;
}

.box2_home_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15vh;
}

.box2_home_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row; /* Deixa lado a lado no desktop */
  width: 70%;
  height: 160%;
  gap: 24px; /* Espaço entre as boxes */
  padding: 0;
}

.box_2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 80%;
  border: 1px solid rgb(168, 168, 168);
  padding: 50px 30px 30px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.box2_content_icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  max-width: 50px; /* Adjust the max-width as needed */
  margin: 3 auto; /* Center the icon horizontally */
}

.box2_content_text {
  margin-top: 30px;
  font-size: 20px;
}

.carousel_design_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110vh;
  width: 100%;
}

.carousel_design_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
}

.carousel_title {
  width: 100%;
  font-size: 45px;
  font-weight: bolder;
}

.carousel_topicos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.carousel_topicos_botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 15px 30px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}

.carousel_topicos_botao:hover {
  border: 1px solid transparent;
  color: white;
  background-color: #0096d1;
}

.carousel_carousel_container {
  display: flex;
  width: 110%;
  flex-direction: column;
  height: 60%;
  margin-bottom: 5vh;
}

.carousel_carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.carousel_carousel_botao1 {
  background-color: black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.carousel_carousel_botao1:hover {
  cursor: pointer;
}

.cor_botao {
  fill: white;
}

.carousel_carousel_title {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 5vh;
}

.carousel_carousel_boxes {
  display: flex;
  gap: 2%;
  align-items: center;
  height: 60%;
  width: 90%;
}

.carousel_carousel_box1 {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-image: url(../../../images/fotos/design_site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel_carousel_box2 {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(../../../images/fotos/design_grafico.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_carousel_box3 {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(../../../images/fotos/design_logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel_carousel_box4 {
  background-color: white;
  height: 100%;
  width: 30%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-position: center;
  background-image: url(../../../images/fotos/arte_digital.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.text_boxes {
  display: flex;
  justify-content: center;
  padding-top: 120%;
  font-weight: bold;
  font-size: 15px;
}
.text_boxes:hover {
  color: #0096d1;
}

/* Responsividade para celulares */
@media (max-width: 600px) {
  .hub_hero_text {
    font-size: 200%;
    padding: 0px 0px 10px 0px;
  }
  .hub_hero_textinput {
    padding: 5px 0px 6px 25px;
    font-size: 15px;
  }
  .hub_hero_searchbar {
    width: 105%;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
  
  }
  .about_box {
    width: 90%;
    justify-content: center;
    height: 105%;
    border-radius: 30px;
  }
  .about_box_title {
    padding-top: 22px;
    font-size: 25px;
    width: 100%;
    line-height: 1.2;
  
  }
  .about_text {
    font-size: 14px;
    line-break: auto;
  }
  .button_style {
    width: 55%;
    font-weight: bold;
    font-size: 13px;
    height: 45px;
  }
  .box_home_main,
  .box2_home_main,
  .carousel_design_main {
    height: auto;
  }
  .box_home_container,
  .box2_home_container,
  .carousel_design_container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .box_home_1,
  .box_home_2,
  .box_home_3,
  .box_home_4{
    width: 90%;
    min-width: unset;
    padding: 27px;
    margin-bottom: 12px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 20px;
    font-size: 14px;
  }
  .carousel_title {
    font-size: 24px;
    padding-left: 20px;
  }
  .carousel_carousel_boxes {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .carousel_carousel_box1,
  .carousel_carousel_box2,
  .carousel_carousel_box3,
  .carousel_carousel_box4 {
    width: 90%;
    height: 120px;
    min-width: unset;
    border-radius: 20px;
  }
  .carousel_topicos {
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }
  .carousel_topicos_botao {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
  }
  .carousel_carousel_container {
    width: 100%;
    margin-bottom: 2vh;
  }
  .carousel_carousel {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .carousel_carousel_title {
    font-size: 18px;
    margin-bottom:30px ;
    padding-left: 40px;
  }
  .text_boxes {
    font-size: 13px;  
    padding-top: 45%;
  }
  .box2_home_container {
    flex-direction: column; /* Empilha no mobile */
    width: 100%;
    align-items: center;
    gap: 16px;
    padding: 0;
  }
  .box_2 {
    width: 90%;
    min-width: unset;
    height: auto;
    padding: 24px 12px 24px 12px;
    margin-bottom: 12px;
    border-radius: 20px;
  }
}
